@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
html {
  max-width: 100%;
}

body {
   font-family: 'Source Code Pro', monospace;

  background-color: #1e1e1e;
  overflow-x: hidden;
}
.full-screen-element {
  position: fixed; /* Position the element relative to the viewport */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  /* width: 100vw; Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: #f0f0f0; /* Example background color */
  /* display: flex; Optional: for centering content */
  /* align-items: center; Optional: for centering content */
  /* justify-content: center; Optional: for centering content */
  z-index: 1000; /* Ensure it is above other elements */
}
.highlight {
  background-color: yellow !important;
}
.word-break {
  word-wrap: break-word;
  white-space: normal;
}

.transform-component-module_content__FBWxo {
  display: block !important;
}
.transform-component-module_wrapper__SPB86 {
  width: max-content !important;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.filter-desktop {
  display: block;
}
.select-format {
  width: 100%;
}
.filter-mobile {
  display: none;
}
.aboutUsTitle {
  margin-top: 20px;
}

.coverImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
  margin: 20px 0;
}
.add-svg {
  width: 50px;
  position: absolute;
  bottom: 50px;
  right: 30px;
}
.add-svg:hover {
  cursor: pointer;
}
.filter-svg {
  width: 15px;
  cursor: pointer;
  margin-left: auto;
}
.xlsx-card {
  display: flex;
  margin: auto;
  width: 70% !important;
}
.error-text {
  text-align: center;
  color: red;
}
.all-borders {
  border: 1px solid grey;
}
.upload-btn {
  background-color: #144276;
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.no-flex {
  display: block;
}
.bold-text {
  font-weight: bold !important;
}

.triangle-svg {
  width: 7px;
  cursor: pointer;
  margin-right: 3px;
}
.triangle-rotate {
  transform: rotate(180deg);
}

.youtubeVideo {
  width: 100%;
  min-height: 300px;
  object-fit: contain;
  margin: 20px 0px;
  border-radius: 2rem;
}

.subscribeButtonYoutube {
  width: 100px;
}

.card-body {
  text-align: justify;
}

.icon {
  display: flex;
  margin: auto;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
  background-color: white;
  max-width: 60%;
  border-radius: 12px;
  transition: background-color 0.5s ease;
}
.pointer {
  cursor: pointer;
}
.comment-icon {
  width: 10px;
  margin-left: 5px;
}
.fabIcon {
  display: flex;
  margin: auto;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
  background-color: white;
  max-width: 60%;
  border-radius: 12px;
  transition: background-color 0.5s ease;
  width: 500px;
  border: 0px;
}
.fabIcon:hover {
  color: white;
  background-color: #ee2730;
  transition: background-color 0.5s ease;
}

.fabIcon:hover i {
  color: white;
  background-color: #ee2730;
  transition: background-color 0.5s ease;
}
.linkElement {
  margin-left: auto;
}
.error {
  color: #ee2730;
  text-align: center;
}
.context-menu-container {
  background-color: white;
  border-radius: 12px;
  /* padding: 12px; */
  z-index: 1050;
}
.close-icon {
  position: absolute;
  top: 5%;
  right: 18%;
  width: 20px;
}
.close-icon:hover {
  cursor: pointer;
}
.clickable {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.clickable-nodecoration {
  /* font-weight: bold; */
  cursor: pointer;
}
.star-svg {
  width: 20px !important;
  height: 20px !important;
}
.eblot-svg {
  margin: 5px;
}
.input-calendar {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0px;
  border-radius: 12px;
  padding: 1px;
  border: 0;
  width: 200px;
  height: fit-content;
  /* margin-bottom: 20px; */
  display: block;
}
.margin-left {
  margin-left: auto !important;
}
.filter-svg-container {
  margin-left: 5px;
  margin-right: 5px;

  align-self: center;
}

.drop-box-input {
  font-size: 10px;
  align-self: baseline;
  width: 100%;
  background-color: white;
}

.drop-container {
  width: 500px;
  position: relative;
  display: flex;
  gap: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
input[type="file"]::file-selector-button {
  /* width: 300px; */
  width: 70% !important;
  margin-right: auto;
  background-color: white;
  border-radius: 8px;
  height: 30px;
  margin-right: 3px;
}
.context-menu {
  z-index: 3;
  cursor: auto;
  background-color: white;
  /* height: 50px; */
  border-radius: 8px;
  text-align: center;
  margin: 0;
  font-size: 10px;
  padding: 5px 0 0 0 !important;

  /* border-radius: 7px */
}
.context-menu-text {
  width: 100%;
  text-align: left !important;
}
.context-menue-row:hover {
}
.context-menue-row {
  margin: 0 0 2px 0;
  padding: 0px 5px;
}

.context-menu:hover {
  cursor: pointer;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.sell-prices h3{
  font-size: 20px;
  /* color: red !important; */
}
.matched-trades tr th,td{
  font-weight: 300;
  font-size: 10px;
  text-align: center;
}
.matched-trades{

}
.buy-prices h3{
  font-size: 20px;
  /* color: green !important; */
}
.buy-prices-list{
  color: green !important;

}
.sell-prices-list{
  color: red !important;

}
li {
  font-size: 10px !important;

}

@media only screen and (max-width: 1000px) {
  .copied-text {
    width: auto;
    font-size: 5px;
  }
  .input-calendar {
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 0;
    width: 130px;
    /* margin-bottom: 20px; */
  }
  .filter-svg {
    width: 20px;

    cursor: pointer;
    margin-right: 3px;
  }
  .filter-trades-search-bar {
    width: 200px;

    margin: 0 0 10px 5px !important;
  }
  .drop-container {
    width: 100%;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }
  h3 {
    font-size: 12px;
  }
  form p {
    font-size: 10px;
    margin-bottom: 2px;
  }
  h6 {
    font-size: 10px;
  }

  .formTextInput {
    margin: 0px;
  }
  .edit-logs-time-picker-text {
    font-size: 13px;

    align-self: center;
  }

  .formTextInput {
    height: 30px;
  }
  .margin-top {
    margin-top: 5px;
  }
  .filter-desktop {
    display: none;
  }
  .filter-mobile {
    display: flex;
  }

  .eventCard {
    margin: auto;
  }
  .upload-btn {
    margin-right: 0px;
    display: flex !important;
    font-size: 10px;
  }
  .list-filter {
    font-size: 10px;
  }
  .xlsx-card {
    padding: 5px;
    width: 100% !important;
  }
  .star-svg {
    width: 8px !important;
    height: 8px !important;
    margin: 1px;
  }
  .close-icon {
    position: absolute;
    top: 5%;
    right: 10%;
    width: 20px;
  }
}
